header{
    position: absolute;
    background: #cdcdcd50;
    left: 0;
    width: 100%;
    height: 50px;
    display: inline-flex;
    top: 0;
}

h1{
    position: relative;
    margin: auto;
}

h2{
    position: relative;
    margin: auto;
}

h3{
    position: relative;
    margin: auto;
}

h4{
    position: relative;
    margin: auto;
}

h5{
    position: relative;
    margin: auto;
}

h6{
    position: relative;
    margin: auto;
}

div{
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
    overflow-y: auto;
    background: #cdcdcd50;
}

footer{
    position: absolute;
    background: #cdcdcd50;
    left: 0;
    width: 100%;
    height: 50px;
    display: inline-flex;
    bottom: 0;
}


p{
    position: relative;
    margin: auto;
}

img{
    position: relative;
    width: 20px;
    height: 20px;
    margin: auto;
}