*{
    margin:0;
    padding: 0;
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    text-align: center;
    text-decoration: none;
    list-style: none;
    border: none;
}

body{
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: block;
}