audio{
    position: relative;
    width: 100%;
    height: 50px;
    background: white;
}

header{
    position: absolute;
    background: #cdcdcd50;
    left: 0;
    width: 100%;
    height: 50px;
    display: inline-flex;
    top: 0;
}

h1{
    position: relative;
    margin: auto;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

h2{
    position: relative;
    margin: auto;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

h3{
    position: relative;
    margin: auto;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

h4{
    position: relative;
    margin: auto;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

h5{
    position: relative;
    margin: auto;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

h6{
    position: relative;
    margin: auto;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

p{
    position: relative;
    margin: auto;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

div{
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
    overflow-y: auto;
    background: #cdcdcd50;
}

iframe{
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
    overflow-y: auto;
}

video{
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
    overflow-y: auto;
}

img{
    position: relative;
    width: 20px;
    height: 20px;
    margin: auto;
}

footer{
    position: absolute;
    background: #cdcdcd50;
    left: 0;
    width: 100%;
    height: 50px;
    display: inline-flex;
    bottom: 0;
}