.LeftText{
    text-align: left;
    margin: auto;
    margin-left: 1%;
}

.RightText{
    text-align: right;
    margin: auto;
    margin-right: 1%;
}

.RightIcon{
    margin: auto;
    margin-right: 1%;
}

.LeftIcon{
    margin: auto;
    margin-left: 1%;
}

.WrappedText {
    overflow-wrap: break-word;
    word-break: break-word;
}
