@import url("./Audio/Audio.css");
@import url("./Body/Body.css");
@import url("./Button/Button.css");
@import url("./Div/Div.css");
@import url("./Footer/Footer.css");
@import url("./H1/H1.css");
@import url("./H2/H2.css");
@import url("./H3/H3.css");
@import url("./H4/H4.css");
@import url("./H5/H5.css");
@import url("./H6/H6.css");
@import url("./Header/Header.css");
@import url("./Iframe/Iframe.css");
@import url("./Img/Img.css");
@import url("./Input/Input.css");
@import url("./Main/Main.css");
@import url("./P/P.css");
@import url("./Video/Video.css");