*{
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: sans-serif;
    text-align: center;
    list-style: none;
    text-decoration: none;
    color: white;
    outline: none;
    border: none;
}
