.NositeAlert{
    color: red;
    font-size: 30px;
    margin-top: 10%;
    margin-bottom: 2%;
}

.NoSiteContactSection{
    color: orange;
    margin-top: 5%;
    margin-bottom: 2%;
}

.NositeContactBox{
    margin-top: 5%;
    width: 50%;
    border-radius: 50px;
    background: forestgreen;
}